body {
    width: 100%;
    background: whitesmoke;
    margin: 0;
    padding: 0;
    color: #003b5c;
}

/* First Section Styles */
.firstsection {
    width: 90%;
    min-height: 50vw;
    background: whitesmoke;
    border-radius: 10px;
    flex-shrink: 0;
    /* Add any other styles specific to the first section */
}

/* Second Section Styles */
.secondsetion {
    width: 10%;
    height: 100vh;
    background: #266183;
    flex-shrink: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    /* Add any other styles specific to the second section */
}

/* Second Section Styles hover*/
.secondsetion:hover {
    width: 10%;
    height: 100vh;
    background: #003b5c;
    flex-shrink: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    /* Add any other styles specific to the second section */
}

/* Navbar Styles */
.navbar {
    width: 100%;
    /* background: #B0AEAE; */
    /* padding: 2px 0;  */
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid;
    border-image: linear-gradient(to right, #22534f, #22534f, #F0B323, #F0B323, #003b5c, #003b5c);
    border-image-slice: 1;
    
    transition: background 0.3s ease, border-color 0.3s ease; /* Add smooth transition effects */
}

/* Add a class to fix the navbar */
.navbar.fixed {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
    background: #B0AEAE; /* Background color when fixed */
    border-bottom-color: #F0B323; /* Border color when fixed */
}

/* Logo Styles */
.logo img {
    height: 5vw;
    margin-left: 10%;
}

/* Navbar Links Styles */
.links {
    display: flex;
    align-items: center;
}
.links a {
    color: #003b5c;
    font-size: 1vw;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.links a:hover{
    font-weight: bolder;
}
.links a.active {
    font-weight: bolder;
    color: rgb(0, 143, 45);
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 60vh;
}

.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.mySlides img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Additional Styles */
p {
    text-align: justify;
    font-family: Aclonica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    color: #F0B323;
    font-family: Advent Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 3vw;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: #003b5c;
}

button {
    width: 77px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #003b5c;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fit-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container::after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
}
.card {
    width: 98%;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
    background-color: white;
    box-shadow:  2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  .card:hover {
    width: 98%;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
    background-color: rgb(206, 206, 206);
    box-shadow:  2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  .card-content {
    padding: 16px;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }


h2 {
    margin: 0 0 8px;
    font-size: 20px;
    color: #003b5c;
}

.footer {
    clear: both;
    color: #F0B323;
    font-family: Advent Pro;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 95%;
    height: auto;
    background: #003b5c;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    padding: 2.5%;
    color: white;
    gap: 20px; /* Add gap between footer sections */
}

.footer-section {
    flex: 6; /* Make this section grow to fill available space */
    align-items: stretch; /* Ensure content stretches vertically */
    margin-right: 10px; /* Add margin between sections */
}

.footer-section-bigger {
    flex: 4; /* Make this section twice as wide as the other section */
    align-items: stretch; /* Ensure content stretches vertically */
    margin-left: 10px; /* Add margin between sections */
}

.footer a {
    color: #ffffff; /* Link color */
    text-decoration: none; /* Remove default underline */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}
